.about-img {
  height: 6rem;
  width: 6rem;
}

.about-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../img/mainbg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
